  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/">
          <i class="bi bi-grid"></i>
          <span>Trang chủ</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
          <a class="nav-link collapsed" href="/admin/product/all">
          <i class="bi bi-circle"></i><span>Sản phẩm</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/slider">
          <i class="bi bi-card-list"></i>
          <span>Slider</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/user">
          <i class="bi bi-person"></i>
          <span>Người dùng</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/order">
          <i class="bi bi-person"></i>
          <span>Đơn hàng</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/discount">
          <i class="bi bi-person"></i>
          <span>Mã giảm giá</span>
        </a>
      </li>
    </ul>

  </aside>