<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }} | Dducky</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="DiepNV">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
  <meta name="author" content="DiepNV">
  <meta name="generator" content="DiepNV">

  <meta name="theme-name" content="DiepNV" />
  
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  
  <link rel="stylesheet" href="/web/plugins/themefisher-font/style.css">

  <link rel="stylesheet" href="/web/plugins/bootstrap/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="/web/plugins/animate/animate.css">

  <link rel="stylesheet" href="/web/plugins/slick/slick.css">
  
  <link rel="stylesheet" href="/web/plugins/slick/slick-theme.css">

  <link rel="stylesheet" href="/web/css/style.css">

</head>

<body id="body">


<!-- Start Top Header Bar -->
{{> header }}
<!-- End Top Header Bar -->


<!-- Main Menu Section -->
{{> navigation }}

{{{body}}}

{{>footer }}
    		<!-- Modal -->
		<div class="modal product-modal fade" id="product-modal">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<i class="tf-ion-close"></i>
			</button>
		  	<div class="modal-dialog " role="document">
		    	<div class="modal-content">
			      	<div class="modal-body">
			        </div>
		    	</div>
		  	</div>
		</div>
    <!-- Main jQuery -->
    <script src="/web/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="/web/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="/web/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="/web/plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="/web/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="/web/plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="/web/plugins/slick/slick.min.js"></script>
    <script src="/web/plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="/web/plugins/google-map/gmap.js"></script>
    <script src="/web/js/script.js"></script>
    <script src="/web/js/jquery.cookie.js"></script>
  </body>
  </html>
