<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <h2 class="text-center">Đăng nhập</h2>
          <form class="text-left clearfix" method="post" action="/login">
            <div class="form-group">
              <input type="email" class="form-control" name="email" placeholder="Nhập email..." required>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Nhập mật khẩu..." required>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center" >Đăng nhập</button>
            </div>
          </form>
          <p class="mt-20">Chưa có tài khoản ?<a href="/signin"> Tạo tài khoản</a></p>
        </div>
      </div>
    </div>
  </div>
</section>